<%- include("../partials/global/head", { title: "TechBox" , css: "indexStyle" }) %>
    <%- include("../partials/global/header", { showNav: true }) %>
        <main>
            <section class="carrusel" aria-label="Carrusel principal">
                <button type="button" class="buttonArrow" aria-label="Anterior" id="carrusel_LeftArrow">
                    <svg class="icon">
                        <use href="/images/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
                <div class="carrusel_container-carrusel">
                    <img src="/images/home/Carrusel/Imagen-carrusel.jpg" alt="Publicidad carrusel"
                        class="carrusel_carrusel-img">
                    <div class="slide-tab" role="tablist">
                        <button class="slide" role="tab" aria-selected="false" aria-label="Slide 1"></button>
                        <button class="slide slide-active" role="tab" aria-selected="true"
                            aria-label="Slide 2"></button>
                        <button class="slide" role="tab" aria-selected="false" aria-label="Slide 3"></button>
                        <button class="slide" role="tab" aria-selected="false" aria-label="Slide 4"></button>
                        <button class="slide" role="tab" aria-selected="false" aria-label="Slide 5"></button>
                    </div>
                </div>
                <button type="button" class="buttonArrow arrowRight" aria-label="Siguiente" id="carrusel_RightArrow">
                    <svg class="icon">
                        <use href="/images/sprite.svg#icon-arrow"></use>
                    </svg>
                </button>
            </section>

            <section class="productosDestacados">
                <div class="PD_title">
                    <h2 class="title-h2">Conocé nuestros <strong class="title-strong-h2">productos destacados</strong>
                    </h2>
                    <div class="PD_title-buttons">
                        <button type="button" class="buttonArrow" aria-label="Anterior">
                            <svg class="icon">
                                <use href="/images/sprite.svg#icon-arrow"></use>
                            </svg>
                        </button>
                        <button type="button" class="buttonArrow arrowRight" aria-label="Siguiente">
                            <svg class="icon">
                                <use href="/images/sprite.svg#icon-arrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <nav class="PD_navigation">
                    <button type="button" class="buttonArrow" aria-label="Anterior">
                        <svg class="icon">
                            <use href="/images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                    <ul class="PD_ul-navigation">
                        <li>
                            <button type="button"
                                class="PD_navigation-button PD_navigation-button-active">Perifericos</button>
                        </li>
                        <li>
                            <button type="button" class="PD_navigation-button">Monitores</button>
                        </li>
                        <li>
                            <button type="button" class="PD_navigation-button">Placas de video</button>
                        </li>
                        <li>
                            <button type="button" class="PD_navigation-button">Motherboards</button>
                        </li>
                        <li>
                            <button type="button" class="PD_navigation-button">Gabinetes</button>
                        </li>
                        <li>
                            <button type="button" class="PD_navigation-button">Memorias RAM</button>
                        </li>
                        <li>
                            <button type="button" class="PD_navigation-button">Almacenamiento</button>
                        </li>
                    </ul>
                    <button type="button" class="buttonArrow arrowRight" aria-label="Siguiente">
                        <svg class="icon">
                            <use href="/images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </nav>
                <ul class="PD_products-list">
                    <%- include("../partials/home/PD-productCard", { link: "#" ,
                        image: "/images/home/Productos/Imagen-mouse.jpg" ,
                        name: "Logitech G703 Wireless HERO 2.4GHz RGB" , discount: "$ 94.999,99" , price: "$ 89.999,99"
                        })%>
                        <%- include("../partials/home/PD-productCard", { link: "#" ,
                            image: "/images/home/Productos/Imagen-microfono.jpg" ,
                            name: "Microfono SteelSeries RGB ANC USB-C" , discount: "$ 311.524,99" ,
                            price: "$ 295.949,99" })%>
                            <%- include("../partials/home/PD-productCard", { link: "#" ,
                                image: "/images/home/Productos/Imagen-teclado.jpg" ,
                                name: "Teclado Redragon Mitra K551 Mechanical RGB" , discount: "$ 63.149,99" ,
                                price: "$ 59.999,99" , hasPadding: true })%>
                                <%- include("../partials/home/PD-productCard", { link: "#" ,
                                    image: "/images/home/Productos/Imagen-auriculares.jpg" ,
                                    name: "Auriculares Redragon Lamia H320 RGB 7.1 Black" , discount: "$ 71.159,99" ,
                                    price: "$ 67.599,99" })%>
                                    <%- include("../partials/home/PD-productCard", { link: "#" ,
                                        image: "/images/home/Productos/Imagen-mouse-pad.jpg" ,
                                        name: "Mouse Pad Redragon Kunlun Large P006 XL 880X420mm" ,
                                        discount: "$ 24.369,99" , price: "$ 23.149,99" , hasPadding: true })%>
                                        <%- include("../partials/home/PD-productCard", { link: "#" ,
                                            image: "/images/home/Productos/Imagen-mouse2.jpg" ,
                                            name: "Mouse Redragon Griffin RGB Black" , discount: "$ 21.159,99" ,
                                            price: "$ 20.099,99" })%>
                </ul>
                <div class="slide-tab" role="tablist" id="PD_slide-tab">
                    <button class="slide slide-active" role="tab" aria-selected="true" aria-label="Slide 1"></button>
                    <button class="slide" role="tab" aria-selected="false" aria-label="Slide 2"></button>
                </div>
            </section>
            <section class="lastNews">
                <h2 class="title-h2 LN_title">Conocé nuestras <strong class="title-strong-h2">ultimas novedades</strong>
                </h2>
                <ul class="LN_news-list">
                    <%- include("../partials/home/LN-newsCard", { link: "#" ,
                        image: "/images/home/Novedades/Imagen-Placa-de-video.jpg" , name: "RX 9070 XT 16GB Ultra Power"
                        , type: "Placa de video" , price: "$ 1.199.750" , hasPadding: true }) %>
                        <%- include("../partials/home/LN-newsCard", { link: "#" ,
                            image: "/images/home/Novedades/Imagen-notebook.jpg" , name: "Vivobook Go 15 R5 512GB SSD" ,
                            type: "Notebook" , price: "$ 706.900" , hasPadding: true }) %>
                            <%- include("../partials/home/LN-newsCard", { link: "#" ,
                                image: "/images/home/Novedades/Imagen-silla-gamer.jpg" , name: "Razer Iskur Tela 2D" ,
                                type: "Silla gamer" , price: "$ 484.650" , }) %>
                                <%- include("../partials/home/LN-newsCard", { link: "#" ,
                                    image: "/images/home/Novedades/Imagen-monitor.jpg" ,
                                    name: "Samsung G9 Potencia Total" , type: "Monitores" , price: "$ 1.764.900" ,
                                    hasPadding: true }) %>
                                    <%- include("../partials/home/LN-newsCard", { link: "#" ,
                                        image: "/images/home/Novedades/Imagen-notebook.jpg" ,
                                        name: "Vivobook 15R7 Potencia PRO" , type: "Notebook" , price: "$ 962.400" ,
                                        hasPadding: true }) %>
                </ul>
            </section>
            <section class="brands">
                <div class="BR_title">
                    <h2 class="title-h2">Descubrí las <strong class="title-strong-h2">mejores marcas</strong></h2>
                    <div class="BR_title-buttons">
                        <button type="button" class="buttonArrow" aria-label="Anterior">
                            <svg class="icon">
                                <use href="/images/sprite.svg#icon-arrow"></use>
                            </svg>
                        </button>
                        <button type="button" class="buttonArrow arrowRight" aria-label="Siguiente">
                            <svg class="icon">
                                <use href="/images/sprite.svg#icon-arrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="BR_navigation">
                    <button type="button" class="buttonArrow" id="BR_arrow--left" aria-label="Anterior">
                        <svg class="icon">
                            <use href="/images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                    <nav>
                        <ul class="BR_ul-navigation">
                            <li>
                                <button type="button"
                                    class="BR_navigation-button BR_navigation-button-active">ASUS</button>
                            </li>
                            <li>
                                <button type="button" class="BR_navigation-button">AMD</button>
                            </li>
                            <li>
                                <button type="button" class="BR_navigation-button">Logitech</button>
                            </li>
                            <li>
                                <button type="button" class="BR_navigation-button">Intel</button>
                            </li>
                            <li>
                                <button type="button" class="BR_navigation-button">Corsair</button>
                            </li>
                            <li>
                                <button type="button" class="BR_navigation-button">Hyte</button>
                            </li>
                        </ul>
                    </nav>
                    <button type="button" class="buttonArrow arrowRight" id="BR_arrow--right" aria-label="Siguiente">
                        <svg class="icon">
                            <use href="/images/sprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>
                <div class="BR_brand-products">
                    <%- include("../partials/home/BR_brand-imageCard", { link: "#" , name: "ASUS" ,
                        imageMobile: "/images/home/Marcas/Imagen-ASUS.jpg" ,
                        imageDesktop: "/images/home/Marcas/Imagen-ASUS-2.jpg" }) %>
                        <ul class="BR_brand-list-items">
                            <%- include("../partials/home/BR_brand-itemCard", { link: "#" ,
                                image: "/images/home/Marcas/Imagen-Motherboard.jpg" ,
                                name: "Mother ASUS PRIME A520-M K DDR4 AM4" , price: "$ 86.750" , }) %>
                                <%- include("../partials/home/BR_brand-itemCard", { link: "#" ,
                                    image: "/images/home/Marcas/Imagen-Notebook.jpg" ,
                                    name: "Vivobook GO 15 AMD Ryzen 5 7520U 8GB DDR5 SSD 512GB Win11" ,
                                    price: "$ 719.450" , }) %>
                                    <%- include("../partials/home/BR_brand-itemCard", { link: "#" ,
                                        image: "/images/home/Marcas/Imagen-Monitor.jpg" ,
                                        name: "Monitor Gamer ASUS VY229HF-J FHD IPS 100Hz" , price: "$ 149.450" , }) %>
                                        <%- include("../partials/home/BR_brand-itemCard", { link: "#" ,
                                            image: "/images/home/Marcas/Imagen-Monitor-2.jpg" ,
                                            name: "Monitor Gamer ASUS VA24EHF-J FHD IPS 100Hz" , price: "$ 168.550" , })
                                            %>
                                            <%- include("../partials/home/BR_brand-itemCard", { link: "#" ,
                                                image: "/images/home/Marcas/Imagen-Placa-de-video.jpg" ,
                                                name: "ASUS DUAL GeForce RTX 5060 8GB GDDR7 OC" , price: "$ 687.950" ,
                                                hasPadding: true }) %>
                        </ul>
                </div>
            </section>
        </main>
        <%- include("../partials/global/footer") %>
            </body>

            </html>