<%- include("../partials/global/head", { title: product.name , css: "product-detail-style" }) %>
    <%- include("../partials/global/header", { showNav: true })%>

        <main>
            <article class="product">
                <section class="product__gallery">
                    <div class="product__main-image">
                        <div class="imgContainer">
                            <img src="<%= product.img %>" alt="<%= product.name %>" class="imagenProducto">
                        </div>
                    </div>
                </section>
                <section class="product__summary">
                    <h1 class="product__title">
                        <%= product.name %>
                    </h1>
                    <button class="button-copy" type="button" aria-label="Copiar nombre del producto">
                        <svg class="icon">
                            <use href="/images/sprite.svg#icon-copy"></use>
                        </svg>
                    </button>
                    <div class="product__prices">
                        <p class="best-price">Mejor precio</p>

                        <% const hasDiscount=product.old_price && product.old_price> product.price;
                            const discount = hasDiscount ? (product.old_price - product.price) : 0;
                            %>

                            <% if (hasDiscount) { %>
                                <div class="discount">
                                    <p class="original-price">
                                        $ <%= product.old_price.toLocaleString('es-AR') %>
                                    </p>
                                    <p class="diference">
                                        - $ <%= discount.toLocaleString('es-AR') %>
                                    </p>
                                </div>
                                <% } %>
                                    <p class="final-price">
                                        $ <%= product.price.toLocaleString('es-AR') %>
                                    </p>
                                    <p class="info-discount">
                                        <strong>Incluye 5% de descuento</strong> por pago con depósito o transferencia
                                    </p>
                    </div>
                    <div class="product__features">
                        <p class="feature stock">
                            <svg class="icon icon-check">
                                <use href="/images/sprite.svg#icon-check"></use>
                            </svg> Stock disponible
                        </p>
                        <p class="feature">
                            <svg class="icon icon-shield">
                                <use href="/images/sprite.svg#icon-shield"></use>
                            </svg> Garantia - 24 meses
                        </p>
                        <p class="feature">
                            <svg class="icon icon-truck">
                                <use href="/images/sprite.svg#icon-truck"></use>
                            </svg> Envios a todo el pais
                        </p>
                    </div>
                    <form action="/products/cart/add/<%= product.id %>" method="POST">
                        <button class="product__button-cart" type="submit">
                            <svg class="icon icon-cart-button">
                                <use xlink:href="/images/sprite.svg#icon-cart-button"></use>
                            </svg> Sumar al carrito
                        </button>
                    </form>
                </section>
            </article>

            <section class="details">
                <div class="details__navigation">
                    <button type="button" class="tab">ESPECIFICACIONES</button>
                    <button type="button" class="tab tab-active">PREGUNTAS</button>
                </div>
                <h4>¿Tenes preguntas sobre el producto?</h4>
                <p class="p-info">Inicia sesión en tu cuenta para poder hacer una pregunta</p>
                <a href="/users/login">
                    <button type="button" class="info-button">
                        <svg class="icon icon-user-circle">
                            <use href="/images/sprite.svg#icon-user-circle"></use>
                        </svg> Iniciar sesión
                    </button>
                </a>
            </section>

        </main>
        <%- include("../partials/global/footer") %>
            </body>
            </html>