<%- include("../partials/global/head", { title: "Carrito de compras" , css: "product-cart-style" }) %>
    <%- include("../partials/global/header", { showNav: true }) %>
        <main>
            <div class="title">
                <a href="/" class="arrowButtons">
                    <svg class="icon">
                        <use href="/images/sprite.svg#icon-arrow"></use>
                    </svg>
                </a>
                <h1>Mi carrito</h1>
            </div>
            <% if (cartProducts.length> 0) { %>
                <section class="container-cart">
                    <form action="/products/cart/clear" method="POST">
                        <button class="buttons-delete" type="submit">
                            <svg class="icon">
                                <use href="/images/sprite.svg#icon-trash"></use>
                            </svg>
                            <p>Vaciar</p>
                        </button>
                    </form>
                    <ul class="list-products">
                        <% cartProducts.forEach(product=> { %>
                            <%- include("../partials/product-cart/cart-item", { product }) %>
                                <% }) %>
                    </ul>
                </section>
                <section class="container-summary">
                    <h4>RESUMEN</h4>
                    <ul class="list-summary">
                        <% cartProducts.forEach(product=> { %>
                            <%- include("../partials/product-cart/summary-item", { product }) %>
                                <% }) %>
                    </ul>
                    <div class="total-summary">
                        <strong class="total">Total</strong>
                        <p class="total-price">
                            <svg class="icon-coins">
                                <use href="/images/sprite.svg#icon-hand-coins"></use>
                            </svg>
                            $ <%= total.toLocaleString() %>
                        </p>
                    </div>
                    <p class="description-purchase">
                        <svg class="icon-coins">
                            <use href="/images/sprite.svg#icon-hand-coins"></use>
                        </svg>
                        *Precio abonado con depósito o transferencia
                    </p>
                    <button class="buttons-summary button-purchase">Iniciar compra</button>
                    <a href="/products" class="a-buttons">
                        <button class="buttons-summary button-products">Ver más productos</button>
                    </a>
                </section>
                <% } else { %>
                    <p class="cart-empty">No hay productos en el carrito</p>
                    <% } %>
        </main>
    </body>
</html>