<li>
    <a href="/products/<%= product.id %>" class="BR_brand-item">
        <div class="BR_img-container">
            <img 
            src="<%= product.images[0] %>" 
            alt="<%= product.name %>">
        </div>
        <div class="BR_brand-item-description">
            <h3 class="BR_product-name">
                <%= product.name %>
            </h3>
            <p class="BR_product-price">
                $ <%= product.price.toLocaleString('es-AR') %>
            </p>
        </div>
    </a>
</li>