<a class="BR_brand-img" href="<%= link %>">
    <picture>
        <source srcset="<%= imageMobile %>" media="(max-width: 768px)">
        <img src="<%= imageDesktop %>" alt="<%= name %>">
    </picture>
    <span><%= name %></span>
</a>