<li>
    <a href="<%= link %>" class="LN_news-item">
        <div class="LN_img-container">
            <img 
            src="<%= image %>" 
            alt="<%= name %>" 
            class="LN_img-news <%= typeof hasPadding !== 'undefined' && hasPadding ? 'LN_img-news--padded' : '' %>">
        </div>
        <div class="LN_news-description">
            <div class="LN_product-tags">
                <h4 class="LN_product-type"><%= type %></h4>
                <h3 class="LN_product-name"><%= name %></h3>
            </div>
            <p class="LN_product-price"><%= price %></p>
        </div>
    </a>
</li>