<% const selectedIcon = typeof icon !== 'undefined' ? icon : 'icon-eye'; %>

<div class="form-group password-group">
    <input 
        class="<%= inputClass %>"
        type="<%= type %>"
        name="<%= name %>"
        placeholder="<%= placeholder %>"
        id="<%= id %>"
        max="20"
    >

    <button type="button" class="password-toggle">
        <svg class="icon">
            <use href="/images/sprite.svg#<%= selectedIcon %>"></use>
        </svg>
    </button>
</div>