<%- include("../partials/global/head", { title: "Register" , css: "register-style" }) %>
    <%- include("../partials/global/header", { showNav: false }) %>
        <%- include("../partials/global/alerts") %>
            <main>
                <section class="container">
                    <h2 id="tituloForm">Registro de Usuario</h2>
                    <p>Ingresa tus datos para crear una cuenta</p>
                    <form class="registration" id="registerForm" method="POST" action="/users/register"
                        enctype="multipart/form-data">
                        <input class="registration__input" type="email" placeholder="Email*" name="email" id="email"
                            value="<%= oldData?.email || '' %>">
                        <input class="registration__input" type="text" placeholder="Nombre de Usuario*" name="username"
                            id="username" value="<%= oldData?.username || '' %>">
                        <input class="registration__input" type="text" placeholder="Nombre*" name="firstName"
                            id="firstName" value="<%= oldData?.firstName || '' %>">
                        <input class="registration__input" type="text" placeholder="Apellido*" name="lastName"
                            id="lastName" value="<%= oldData?.lastName || '' %>">
                        <div class="input-password-wrapper">
                            <input class="registration__input" type="password" placeholder="Contraseña*" name="password"
                                id="password" value="<%= oldData?.password || '' %>">
                            <button type="button" class="input-toggle-password" title="Mostrar/ocultar contraseña">
                                <svg class="icon-password-toggle">
                                    <use href="/images/sprite.svg#icon-eye-alt"></use>
                                </svg> 
                            </button>
                        </div>
                        <div class="input-password-wrapper">
                            <input class="registration__input" type="password" placeholder="Confirmar Contraseña*"
                                name="confirmPassword" id="confirmPassword"
                                value="<%= oldData?.confirmPassword || '' %>">
                            <button type="button" class="input-toggle-password" title="Mostrar/ocultar contraseña">
                                <svg class="icon-password-toggle">
                                    <use href="/images/sprite.svg#icon-eye-alt"></use>
                                </svg> 
                            </button>
                        </div>
                        <div class="file-input">
                            <label for="avatar" class="file-label">
                                <span>Subir imagen de perfil</span>
                            </label>
                            <input type="file" name="avatar" id="avatar" value="<%= oldData?.avatar || '' %>" hidden>
                            <p class="file-name" id="fileName">Ningún archivo seleccionado</p>
                        </div>
                        <button type="submit" class="registration__buttonSubmit">Registrarme</button>
                    </form>
                    <p>¿Ya tienes una cuenta? Inicia sesión <a href="/users/login" id="link-p">aquí</a></p>
                </section>
            </main>

            <%- include("../partials/global/footer") %>
                <%- include("../partials/global/scripts", { js: "register" }) %>
                    </body>

                    </html>